
#video_pane
  %video#video{width: 230, height: 300, autoplay: true}
  %button#captureButton capture
#capture_pane{style: "display: none;"}
  %canvas#canvas{width: 230, height: 300, style: "display: none;"}
  %img#img{alt: "img", width: 230, height: 300}
  %button#restartButton restart
  %button#postButton post
