%h1 Image

%form{action: "/up", method: :get}
  %p
    %label User:
    %input{type: "text", name: "user", size: 30}
  %p
    %label URL:
    %input{type: "url",  name: "url",  size: 100}
  %p
    %input{type: "submit"}

