:css
  #photo {
    width: 350px;
    height: 410px;
  }
  #glass {
    position: absolute;
  }

%form{action: "/up", method: :get}
  %p
    %label URL:
    %input{type: "url",  name: "url",  size: 100, value: @url}
  %p
    %label Method:
    %select{name: "method"}
      - %w(original eye_detect binary adaptive_binary canny contours).each do |method|
        %option{value: method, selected: method == @method} #{method}
  %p
    %label Glass:
    %select{name: "glass"}
      - GLASSES.each do |sku, src|
        %option{value: src, selected: src == @glass} #{sku}
  %p
    %input{type: "submit"}
%hr
#photo
  %img{src: "/temp.jpg"}
- if @glass && @glass != ""
  #glass
    %img{src: "/glass.png"}

:coffeescript
  photo = {}
  face  = { left: 72, width: 163}
  eye   = { center_x: 111, center_y: 131 }
  glass = { width: 212, height: 58 }

  $photo = $("#photo")
  photo.top   = $photo.position()["top"]
  photo.left  = $photo.position()["left"]
  photo.width = $photo.width()

  $glass = $("#glass")
  glass.top   = photo.top  + eye.center_y
  glass.left  = photo.left + face.left
  glass.width = face.width
  glass.scale = glass.width / $glass.width()
  glass.height= $glass.height() * glass.scale

  console.log("glass[top: " + glass.top + ", left: " + glass.left + ", width: " + glass.width + "]")

  $glass.css(glass)
  $glass.children("img").css(glass)
  $glass.draggable()

