#glasses {
  float: left;
  width: 170px;
  height: 200px;
}
#glasses ul {
  list-style-type: none;
  margin-top: 0;
  padding-top: 0;
}
#glasses ul img.hidden {
  display: none;
}
#photo {
  float: left;
  width: 350px;
}
#glass {
  position: absolute;
  z-index: 100;
}
#capture-button {
  margin-left: -80px;
}
#share-button {
  display: none;
  margin-left: 20px;
}
#capture {
  float: left;
  width: 350px;
}

#captures {
}
#captures img {
  float: left;
  margin-right: 20px;
  width: 120px;
}
